.message{"data-message-id": message.id}
  .message__upper-info
    .message__upper-info__talker
      = message.user.name
    .message__upper-info__date 
      =message.created_at.strftime("%Y/%m/%d (#{%w(日 月 火 水 木 金 土)[Time.now.wday]}) %H:%M")
  .message-list
    - if message.content.present?
      %p.message__text
        =message.content
        %br
    = image_tag message.image.url, class: 'message__text' if message.image.present?